.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 80px 80px 30px 80px;
}
.cart-container{
    background-color: rgba(255, 153, 0, 0.3);
}